*{
  margin: 0;
  padding: 0;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
 
}

body{
  background:#02405F;
  /* background: rgb(86, 58, 11); */
}


.shoecasesCont{
  width: 100%;
  height: auto;
  background: rgb(255, 255, 255);
  position: relative;
  z-index: -2;
}


.showcase1{
  width: 100%;
  height: 140vh !important;
  background:#02405F;
}

.justAnotherHand{
  font-family: 'Just Another Hand', cursive;
}

.showcase1 .shoecontent .content div h1{
  font-style: normal;
font-weight: 400;
font-size: 170px;
line-height: 170px;
/* identical to box height */


color: #FFFFFF;

}

.showcase1 .shoecontent .content div h2{
  

font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 50px;

color: #FFFFFF;

}

.abcd{
  width: 100%;
  height: 10vh;
  /* background: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin:50px 0px;
}

.abcd h1{
  /* NEW FEATURED */
  font-family: 'Arial';
  font-style: italic;
  font-weight: 700;
  font-size: 60px;
  line-height: 76px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px #01080C;
  text-align: center;
}

.showcase1 .shoecontent{
  width: 100%;
  height: 100vh !important;
  /* background: yellow; */
  display: flex;
}

.showcase1 .content{
  width: 50%;
  height: 100% !important;
  /* background: pink; */
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.showcase1 .shoecontent .content div{
  width: 100%;
  /* background: red; */
  padding-left: 100px;
}
.showcase1 .shoecontent .content div h2{
  max-width: 80%;
}
.arrow{
  position:absolute;
  left:28%;
  transform: translateY(50%);
  
}
.showcase1 .shoe{
  width: 50%;
  height: 100% !important;
  /* background: purple; */
}

/* .showcase1 .content img{
  width: 100%;
  
  margin-top: 70px;
  float: right !important;

} */


.showcase1 .shoe a img{
  width: 90%;
  
}

/* ShowCase 2 */

.showcase2{
  width: 100%;
  height: 110vh !important;
  /* background:#02405F; */
  /* background: red; */
  background-image: linear-gradient(to bottom left,#02405F 50%, white 50%);
}

.justAnotherHand{
  font-family: 'Just Another Hand', cursive;
}

.showcase2 .shoecontent .content div h1{
  font-style: normal;
font-weight: 400;
font-size: 170px;
line-height: 170px;
/* identical to box height */


color: #FFFFFF;

}

.showcase2 .shoecontent .content div h2{
  

font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 50px;

color: #FFFFFF;

}


.showcase2 .shoecontent{
  width: 100%;
  height: 100vh !important;
  /* background: yellow; */
  display: flex;
}

.showcase2 .content{
  width: 50%;
  height: 100% !important;
  /* background: pink; */
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-10%);
}

.showcase2 .shoecontent .content div{
  width: 100%;
  /* background: red; */
  padding-left: 100px;
}
.showcase2 .shoecontent .content div h1{
  /* background: red; */
  padding-left:19vw ;
}
.showcase2 .shoecontent .content div h2{
  max-width: 80%;
}
.arrow2{
  position:absolute;
  left:60%;

  transform: translateY(60%);
  
}
.showcase2 .shoe{
  width: 50%;
  height: 100% !important;
  /* background: purple; */
}

/* .showcase1 .content img{
  width: 100%;
  
  margin-top: 70px;
  float: right !important;

} */


.showcase2 .shoe a img{
  /* width: 150vh; */
  position: absolute;
width: 997px;
height: 798px;
transform: translateY(-10%);
  
}


/* showcase3 */

.showcase3{
  width: 100%;
  height: 70vh !important;
  background:white;
  /* background: green; */
}



.showcase3 .shoecontent .content div h1{
  font-style: normal;
font-weight: 400;
font-size: 170px;
line-height: 170px;
/* identical to box height */


color: black;

}

.showcase3 .shoecontent .content div h2{
  

font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 50px;

color: black;

}



.showcase3 .shoecontent{
  width: 100%;
  height: 100vh !important;
  /* background: yellow; */
  display: flex;
}

.showcase3 .content{
  width: 50%;
  height: 100% !important;
  /* background: pink; */
  transform: translateY(0%) translateX(10%);
  
}

.showcase3 .shoecontent .content div{
  width: 100%;
  /* background: red; */
  padding-left: 100px;
  
}
.showcase3 .shoecontent .content div h2{
  max-width: 60%;
  color:black;
}
.arrow3{
  position:absolute;
  left:35%;
  transform: translateY(0%);
  
}
.showcase3 .shoe{
  width: 50%;
  height: 100% !important;
  /* background: purple; */
}

/* .showcase1 .content img{
  width: 100%;
  
  margin-top: 70px;
  float: right !important;

} */


.showcase3 .shoe a img{
  /* width: 100%; */
  width: 788px;
  height: 812px;
  transform: translateY(-35%);
}


/* ShowCase 4 */

.showcase4{
  width: 100%;
  height: 120vh !important;
  background:white;
  /* background: rgb(149, 39, 39); */
}

.justAnotherHand{
  font-family: 'Just Another Hand', cursive;
}

.showcase4 .shoecontent .content div h1{
  font-style: normal;
font-weight: 400;
font-size: 170px;
line-height: 170px;
/* identical to box height */


color: black;

}

.showcase4 .shoecontent .content div h2{
  

font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 50px;

color: black;

}


.showcase4 .shoecontent{
  width: 100%;
  height: 100vh !important;
  /* background: yellow; */
  display: flex;
}

.showcase4 .content{
  width: 50%;
  height: 100% !important;
  /* background: pink; */
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(20%);
}

.showcase4 .shoecontent .content div{
  width: 100%;
  /* background: red; */
  padding-left: 100px;
}
.showcase4 .shoecontent .content div h1{
  /* background: red; */
  padding-left:10vw ;
}
.showcase4 .shoecontent .content div h2{
  max-width: 70%;
 transform: translateX(-18%);
}
.arrow4{
  position:absolute;
  left:48%;

  transform: translateY(60%);
  
}
.showcase4 .shoe{
  width: 50%;
  height: 100% !important;
  /* background: purple; */
}

/* .showcase1 .content img{
  width: 100%;
  
  margin-top: 70px;
  float: right !important;

} */


.showcase4 .shoe a img{
  /* width: 150vh; */
  /* position: absolute; */
  width: 738px;
  height: 1031px;
  transform: translateY(-18%);
}


/* showcase5 */

.colorcover{
  width: 100%;
  height: 40vh;
  background: #02405F;
  /* background: pink; */
  position: absolute;
  bottom: 0%;
  z-index: -1;
}

.bottomSpace{
  width: 100%;
  height: auto;
  /* height: 40vh; */
  margin-bottom: 300px;
  /* background: rgb(3, 233, 114); */
}

.showcase5{
  width: 100%;
  height: 79.8vh !important;
  /* background:#02405F; */
  /* background: rgb(128, 0, 0); */
  background-image: linear-gradient(to bottom right,rgba(255, 255, 255, 0) 50%, #02405F 50%);
  transform: translateY(-50%);
  padding-top: 300px;
  
}



.showcase5 .shoecontent .content div h1{
  font-style: normal;
  font-weight: 400;
  font-size: 250px;
  line-height: 250px;
/* identical to box height */


color: #FFFFFF;

}

.showcase5 .shoecontent .content div h2{
  

font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 50px;

color: #FFFFFF;

}



.showcase5 .shoecontent{
  width: 100%;
  height: 100vh !important;
  /* background: yellow; */
  display: flex;
}

.showcase5 .content{
  width: 50%;
  height: 100% !important;
  /* background: pink; */
  transform: translateY(40%) translateX(10%);
  
  
}

.showcase5 .shoecontent .content div{
  width: 100%;
  /* background: red; */
  padding-left: 100px;
}
.showcase5 .shoecontent .content div h2{
  max-width: 80%;
}
.arrow5{
  position:absolute;
  left:30%;
  transform: translateY(12%);
  
}
.showcase5 .shoe{
  width: 50%;
  height: 100% !important;
  /* background: purple; */
}

/* .showcase1 .content img{
  width: 100%;
  
  margin-top: 70px;
  float: right !important;

} */


.showcase5 .shoe a img{
  /* width: 100%; */
  width: 751px;
height: 751px;
  transform: translateY(-10%);
}


/* FOOTER  */
.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #02405F;
  color:white;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}

.footer .getintouch{
  width: 230px;
}
.footer .getintouch ul{
  list-style-type: none;
}

.footer .connectwithus{
  width: 210px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color:white;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul {
  /* list-style-type: none; */
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color:white;
  font-size: 14px;
  font-family: inherit;
  font-weight: lighter;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}



/* SliderMENWOMEN */

.slidermenwomen{
  width: 100%;
 
  /* background: red; */
}



/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
.showcase1, .showcase2, .showcase3, .showcase4, .showcase5{
  height: 100vh;   
}
.showcase1 .shoecontent,.showcase2 .shoecontent,.showcase3 .shoecontent,.showcase4 .shoecontent,.showcase5 .shoecontent{
 
  height: 90vh;
}

.showcase1 .content,.showcase2 .content,.showcase3 .content,.showcase4 .content,.showcase5 .content{
 
  height: 90vh;

}

.showcase1 .shoe,.showcase2 .shoe,.showcase3 .shoe,.showcase4 .shoe,.showcase5 .shoe{
  height: 90vh;
}
.spaceup{
margin-top:10px;
}


}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
.showcase1, .showcase3, .showcase4, .showcase5{
  height: 30vh;
}
.showcase2{
  height: 40vh;
  margin-top: 90px;
}
.showcase1 .shoecontent,.showcase2 .shoecontent,.showcase3 .shoecontent,.showcase4 .shoecontent,.showcase5 .shoecontent{
 
  height: 30vh;
  margin: -5px 0px;
  
}

.showcase1 .content,.showcase2 .content,.showcase3 .content,.showcase4 .content,.showcase5 .content{
 
  height: 30vh;
  
}

.showcase1 .shoe,.showcase2 .shoe,.showcase3 .shoe,.showcase4 .shoe,.showcase5 .shoe{
  height: 30vh;
}

.abcd{
margin-bottom: 80px;
}

.footerLogo{
padding: 50px 0px;
width: 70%;
}
.footerSocialIcons{
margin-top:20px;
}
.spaceupRes{
margin-top: 30px;
}

}


.cd-handle{
background: rgb(164, 164, 164);
border-radius: 50%;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  div.example {
    font-size: 80px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {

  .abcd h1{
    font-weight: 700;
  font-size: 25px;
  line-height: 27px;
  text-align: center;
  }
  .abcd{
    width: 100%;
    height: 5vh;
  }
  .showcase1 .shoecontent .content div h1{
    padding-left: 0;
    font-weight: 400;
    font-size: 50px;
    line-height: 50px;
  }
  .showcase1 .shoecontent .content div h2{
    padding-left: 0;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
  }
  .showcase2 .content div{
    padding-left: 0;
  }
  .showcase2 .shoecontent .content div h1{
    padding-left: 0;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
  }
  .showcase2 .shoecontent .content div h2{
    padding-left: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
  }
  .showcase3 .shoecontent .content div h1{
    padding-left: 0;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
  }
  .showcase3 .shoecontent .content div h2{
    padding-left: 0;
    
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
  }
  .showcase4 .shoecontent .content div{
    padding-left: 0;
    
  }
  .showcase4 .shoecontent .content div h1{
    padding-left: 0;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    padding-left: 0vw;
  }
  .showcase4 .shoecontent .content div h2{
    padding-left: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
  }
  .showcase5 .shoecontent .content div h1{
    padding-left: 0;
    font-weight: 400;
    font-size: 50px;
    line-height: 50px;
  }
  .showcase5 .shoecontent .content div h2{
    padding-left: 0;
    
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
  }

  .showcase1 .shoe a img{
    /* width: 150vh; */
    /* position: absolute; */
    width: 160px;
    height: 217px;
    transform: translateY(-18%);
  }
  .showcase2 .shoe a img{
    /* width: 150vh; */
    /* position: absolute; */
    width: 286px;
    height: 191px;
    transform: translateY(-35%);
  }
  .showcase3 .shoe a img{
    /* width: 150vh; */
    /* position: absolute; */
    width: 199px;
    height: 206px;
    transform: translateY(-18%);
  }
  .showcase4 .shoe a img{
    /* width: 150vh; */
    /* position: absolute; */
    width: 184px;
    height: 257.05px;
    transform: translateY(-18%);
  }
  .showcase5 .shoe a img{
    /* width: 150vh; */
    /* position: absolute; */
    width: 218px;
    height: 218px;
    transform: translateY(-160%);
  }

  .arrow img{
    
    width: 80.3px;
    height: 55.67px;
    
  }
  .arrow2 img{
    width: 73.24px;
    height: 28.1px;
    
  }
  .arrow3 img{
    width: 69px;
    height: 36.8px;
    
  }
  .arrow4 img{
    width: 63.94px;
    height: 34.1px;
    
  }
  .arrow5 img{
    width: 80.3px;
    height: 55.67px;
    
  }

  .showcase1{
    width: 100% !important;
    height: 30vh !important;
  }
  .showcase2{
    width: 110% !important;
    height: 20vh !important;
   /* padding-right: 20px; */
  }
  .showcase3{
    width: 100% !important;
    height: 30vh !important;
  }
  .showcase4{
    width: 100% !important;
    height: 25vh !important;
  }
  .showcase5{
    width: 100.1% !important;
    height: 20vh !important;
    /* background: red; */
    /* background-image: linear-gradient(to bottom left,rgba(255, 255, 255, 0) 50%, #02405F 50%); */
    transform: translateY(10%);
  }
  

  .arrow{
    left:30%;
    transform: translateY(-40%);
  }

  .arrow2{
    left:55%;
    transform: translateY(250%) rotateX(180deg);
  }
  .arrow3{
    left:35%;
    transform: translateY(100%);
  }
  .arrow4{
    left:45%;
    transform: translateY(80%);
  }
  .arrow5{
    left:40%;
    transform: translateY(-550%);
  }
  .bottomSpace{
    margin-bottom: -100px;
  }
  /* .colorcover{
    width: 100%;
    height: 0vh;
  } */
  .showcase1 .content{
    transform: translateY(-42%) translateX(-35%);
  }
  .showcase1 .shoecontent .content div h2{
    max-width: 100% !important;
  }
  
  .showcase2 .content{
    transform: translateY(-48%) translateX(-15%);
  }
  .showcase2 .shoecontent .content div h2{
    max-width: 100%;
  }
  
  .showcase3 .content{
    transform: translateY(3%) translateX(-30%);
  }
  .showcase3 .shoecontent .content div h2{
    max-width: 100%;
  }
  .showcase4 .content{
    transform: translateY(-40%) translateX(30%);
  }
  .showcase4 .shoecontent .content div h2{
    max-width: 100%;

  }
  .showcase5 .content{
    transform: translateY(-30%) translateX(-35%);
  }
  .showcase5 .shoecontent .content div h2{
    max-width: 100%;
  }
  .showcase5 .shoecontent .content div{
    width: 250px;
  }
  .extraColor{
    width: 120%;
    height: 40.1vh;
    background: #02405F;
    position: absolute;
    z-index: -1;
  }
  .text-behind h1{
    /* font-size: 80vw; */
    font-size: 80px !important;
    padding-bottom: -40px;
    margin-top: -40px;
  }
 
}

.text-behind{
  /* background: red; */
  position: absolute;
  z-index: 1;
  width: 100%;
  
  text-align: center;
}
.text-behind h1{
  /* font-size: 80vw; */
  font-family: 'Bulldog';
font-style: italic;
font-weight: 700;
font-size: 220px;
line-height: 239px;
text-align: center;

opacity: 0.1;
}